
  <div class="comment">
    <div class="content">
      <a class="author"><%= comment.user.email %></a>
      <div class="metadata">
        <span class="date"><%= comment.created_at.strftime("%d/%m/%Y") %></span>
        
        <% if comment.user_id == current_user.id %>
          <i class="star teal icon"></i>Author
        <% end %>
      
      </div>
      <div class="text">
        <%= comment.body %>
      </div>
      <div class="actions">
        <a class="form-show">Reply</a>
      </div>
    </div>
  </div>

  <%= form_for([comment, Comment.new], html: {class: "ui reply form form-reply", id: "form-reply"}) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Add a Reply" %>
    </div>
    <%= f.submit 'Add reply', class: 'ui teal submit button' %>
  <% end %>

  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>