<p id="notice"><%= notice %></p>

<h1 class="ui red header">
  All Posts
  <%= link_to 'New Post', new_post_path, class: 'ui button yellow right floated' %>
</h1>

<div class="ui divider"></div>

<div class="ui items">
  <% @posts.each do |post| %>
    <div class="item">
      <div class="content">
        <%= link_to post.title, post, class:"ui orange header" %>
        <div class="meta">
          <%= link_to edit_post_path(post) do %>
            <i class="edit icon"></i>
          <% end %>
          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="remove icon"></i>
          <% end %>

          <i class="comment icon"></i>
          <% if post.comments.size > 1 %>
            <%= post.comments.size %> Comments
          <% elsif post.comments.size == 1 %>
            <%= post.comments.size %> Comment
          <% else %>
            No comments
          <% end %>  

          <div class="ui right floated">
            <%= post.created_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
        <div class="description"><%= post.message %></div>
      </div>
    </div>
    <div class="ui divider"></div>
  <% end %>
</div>