<p id="notice"><%= notice %></p>

<div class="item">
  <div class="content">
    <h1 class="ui orange header"><%= @post.title %></h1>
    <div class="meta">
      <%= link_to edit_post_path(@post) do %>
        <i class="edit teal icon"></i>
      <% end %>
      <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="remove red icon"></i>
      <% end %>
      <div class="ui button right floated">
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="description"><%= @post.message %></div>
  </div>
</div>

<div class="ui comments">
  <h3 class="ui dividing teal header">Comments</h3>
  <div class="comment">
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui teal labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>