<p id="notice"><%= notice %></p>

<div class="item">
  <div class="content">
    <h1 class="ui orange header"><%= @post.title %></h1>
    <div class="meta">
      <%= link_to edit_post_path(@post) do %>
        <i class="edit teal icon"></i>
      <% end %>
      <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="remove red icon"></i>
      <% end %>
      <%= @post.created_at.strftime("%d/%m/%Y") %>
      <i class="user teal icon"></i><%= @post.user.email %>

      <div class="ui button right floated">
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="description"><%= @post.message %></div>
  </div>
</div>

<div class="ui minimal comments">

  <h3 class="ui dividing teal header">Comments</h3>

  <% if @post.comments.exists? %>
    <%= render partial: 'comments/comment', collection: @post.comments %>
  <% else %>
    <div class="ui info message">
      <i class="info circle icon"></i>
      There is no one comments for this post.
    </div>
  <% end %>

  <%= form_for([@post, Comment.new], html: {class:"ui reply form"}) do |f| %>
    <div class="ui divider"></div>
    <h3 class="ui teal head">Write a comment...</h3>
    <div class="field">
      <%= f.text_area :body, placeholder: "Message" %>
    </div>
    <%= f.submit 'Add comment', class: 'ui teal submit button' %>

  <% end %>

</div>