<!DOCTYPE html>
<html>
  <head>
    <title>Threaded Comments</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui text container">


      <div class="ui secondary  menu">
        <%= link_to 'Posts', posts_path, class: "active item" %>
        <%= link_to 'Users', posts_path, class: "item" %>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Don't work...">
              <i class="search link icon"></i>
            </div>
          </div>
          <% if user_signed_in? %>
            <div class="item">
              <i class="user icon"></i>
              <%= current_user.email %>
            </div>
            <%= link_to 'Logout', destroy_user_session_path, class: 'item', method: :delete %>
          <% else %>
            <%= link_to 'Login', user_session_path, class: "item" %>
          <% end %>
          
        </div>
      </div>






      <%= yield %>
    </div>
  </body>
</html>
